Repository eser/stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, deno-check, deno-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        exclude: |
          (?x)^(
            lime/src/build/esbuild_v0.19.2.wasm
          )$
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: mixed-line-ending
  - repo: local
    hooks:
    - id: local-precommit
      name: local pre-commit tasks
      description: Runs local pre-commit tasks.
      entry: bash -c 'deno run -A pre-commit.ts; git add -u' --
      always_run: true
      pass_filenames: false
      language: system
    - id: deno-fmt
      name: verify formatting
      description: Auto-format JavaScript, TypeScript, Markdown, and JSON files.
      entry: deno fmt --check
      types_or: [javascript, jsx, ts, tsx, json, markdown]
      pass_filenames: false
      language: system
    - id: deno-lint
      name: lint
      description: Lint JavaScript/TypeScript source code.
      entry: deno lint
      types_or: [javascript, jsx, ts, tsx, json, markdown]
      pass_filenames: false
      language: system
    - id: deno-check
      name: checks if modules are broken
      description: Checks if modules are broken.
      entry: deno task check
      types_or: [javascript, jsx, ts, tsx, json, markdown]
      pass_filenames: false
      language: system
    - id: deno-test
      name: run tests
      description: Run tests using Deno's built-in test runner.
      entry: deno task test:run
      types_or: [javascript, jsx, ts, tsx, json]
      pass_filenames: false
      language: system

feat: [wip] react option.
  lime/init.ts
  lime/src/dev/imports.ts
  lime/src/runtime/adapters/view.ts
  lime/src/runtime/adapters/view_base.ts
  lime/src/runtime/adapters/view_preact.ts
  lime/src/runtime/adapters/view_react.ts
  lime/tests/fixture/deno.json
  lime/tests/fixture_build/deno.json
  lime/tests/fixture_custom_500/deno.json
  lime/tests/fixture_error/deno.json
  lime/tests/fixture_invalid_handlers/deno.json
  lime/tests/fixture_island_nesting/deno.json
  lime/tests/fixture_jsx_pragma/deno.json
  lime/tests/fixture_npm/deno.json
  lime/tests/fixture_plugin/deno.json
  lime/tests/fixture_preact_rts_v5/deno.json
  lime/tests/fixture_render_error/deno.json
  lime/tests/fixture_route_analysis/deno.json
  lime/tests/fixture_server_components/deno.json
Due: deno-fmt, deno-lint, deno-check, deno-test

feat: [WIP] view adapters (take II).
  lime/src/runtime/drivers/view-adapter-base.ts
  lime/src/runtime/drivers/view-adapter-preact.ts
  lime/src/runtime/drivers/view-adapter-react.ts
  lime/src/runtime/drivers/view.ts
  lime/src/runtime/entrypoints/main.ts
  lime/src/runtime/utils.ts
  lime/src/server/rendering/preact_hooks.ts
  lime/src/server/rendering/template.tsx
  lime/src/server/serializer.ts
Due: deno-fmt, deno-lint, deno-check, deno-test

feat: [WIP] view adapters (take III).
  lime/src/dev/imports.ts
Due: deno-fmt, deno-lint, deno-check, deno-test

fix: build id mismatch between CI + deploy
  lime/last_fresh_sync_sha1.txt
  lime/src/build/mod.ts
  lime/src/dev/build.ts
  lime/src/server/build_id.ts
  lime/src/server/context.ts
  lime/tests/build_test.ts
  lime/tests/fixture_build/routes/index.tsx
  lime/tests/fixture_build/static/style.css
Due: deno-fmt, deno-lint, deno-check, deno-test

feat: [WIP] view adapters (take IV).
  deno.jsonc
  lime/last_fresh_sync_sha1.txt
  lime/src/runtime/csp.ts
  lime/src/runtime/drivers/view-adapter-base.ts
  lime/src/runtime/drivers/view-adapter-preact.ts
  lime/src/runtime/drivers/view-adapter-react.ts
  lime/src/runtime/drivers/view.ts
  lime/src/runtime/entrypoints/main.ts
  lime/src/runtime/head.ts
  lime/src/runtime/utils.ts
  lime/src/server/context.ts
  lime/src/server/default_error_page.ts
  lime/src/server/mod.ts
  lime/src/server/render.ts
  lime/src/server/rendering/lime_tags.tsx
  lime/src/server/rendering/preact_hooks.ts
  lime/src/server/rendering/template.tsx
  lime/src/server/serializer.ts
  lime/tests/fixture/islands/ReturningNull.tsx
  lime/tests/fixture_island_nesting/islands/IslandWithProps.tsx
  lime/tests/fixture_layouts/routes/dynamic/[tenant]/(_islands)/Counter.tsx
  lime/tests/fixture_layouts/routes/dynamic/[tenant]/index.tsx
  lime/tests/fixture_layouts/routes/files/js/_layout.js
  lime/tests/fixture_layouts/routes/files/js/index.js
  lime/tests/fixture_layouts/routes/files/ts/_layout.ts
  lime/tests/fixture_layouts/routes/files/ts/index.ts
  lime/tests/fixture_preact_rts_v5/islands/Test.tsx
  lime/tests/layouts_test.ts
  lime/tests/main_test.ts
Due: deno-fmt, deno-lint, deno-check, deno-test

chore: version set to 0.7.0.
  metadata.json
  version.txt
Due: deno-fmt, deno-lint, deno-check, deno-test

chore: new logo and markdown adjustments.
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .tool-versions
  Dockerfile
  README.md
  _etc/logo.png
  _etc/logo.svg
  _etc/templates/default/files/.tool-versions
  _etc/templates/service/files/.tool-versions
  _etc/templates/service/files/Dockerfile
  directives/01-social.md
  directives/02-technical.md
  directives/README.md
  hex/directives/01-social.md
  hex/directives/02-technical.md
  hex/standards/README.md
  lime/README.md
  standards/README.md
  standards/logging.ts
  standards/mod.ts
Due: deno-fmt, deno-lint, deno-check, deno-test

chore: updated code of conduct.
  .pre-commit-config.yaml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Due: deno-fmt, deno-lint, deno-check

chore: added reasoning to technical directives.
  directives/02-technical.md
Due: deno-fmt, deno-lint, deno-check

feat: di is refactored.
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  _etc/templates/service/files/src/actions/echo.test.ts
  _etc/templates/service/files/src/actions/echo.ts
  _etc/templates/service/files/src/types.ts
  di/README.md
  di/container.test.ts
  di/container.ts
  di/decorators.ts
  di/mod.ts
  di/services.ts
  directives/README.md
  hex/di/README.md
  hex/di/__specs__/containers.test.ts
  hex/di/__specs__/deps.ts
  hex/di/__specs__/registry.test.ts
  hex/di/containers.ts
  hex/di/mod.ts
  hex/di/registry.ts
  hex/di/use-container-builder.ts
  hex/environment/README.md
  hex/formatters/README.md
  hex/fp/README.md
  hex/functions/README.md
  standards/README.md
Due: deno-fmt, deno-lint, deno-check, deno-test

chore: readme updated.
  README.md
  di/README.md
Due: deno-fmt, deno-lint, deno-check

feat: di and injectable methods.
  README.md
  di/README.md
  di/decorators.test.ts
  di/decorators.ts
  di/mod.ts
  di/services.ts
  metadata.json
  version.txt
Due: deno-fmt, deno-lint, deno-check, deno-test

fix: rootScope naming.
  di/README.md
  di/container.ts
  di/decorators.ts
Due: deno-fmt, deno-lint, deno-check, deno-test

chore: version bumped to 0.7.3.
  metadata.json
  version.txt
Due: deno-fmt, deno-lint, deno-check, deno-test

fix: logo stroke.
  _etc/logo.png
  _etc/logo.svg
Due: none

fix: fp README is updated.
  fp/README.md
Due: deno-fmt, deno-lint, deno-check

chore: updated README.
  README.md
  di/README.md
Due: deno-fmt, deno-lint, deno-check

feat: dotenv component.
  .pre-commit-config.yaml
  README.md
  dotenv/README.md
  dotenv/base.ts
  dotenv/loader.ts
  dotenv/mod.ts
  dotenv/options.ts
  hex/mod.ts
  hex/options/deps.ts
  hex/options/env.ts
  hex/options/mod.ts
  hex/options/options.ts
  hex/service/options.ts
  hex/service/run.ts
  hex/service/types.ts
  metadata.json
  version.txt
Due: deno-fmt, deno-lint, deno-check, deno-test

chore: logo updated.
  _etc/logo.png
  _etc/logo.svg
  cool.ts
  metadata.json
  version.txt
Due: deno-fmt, deno-lint, deno-check, deno-test

chore: added cli task.
  .dockerignore
  Dockerfile
  cli-init.ts
  deno.jsonc
  mod.ts
Due: deno-fmt, deno-lint, deno-check, deno-test

chore: cli header.
  cli-init.ts
  cool.ts
  deps.ts
  dotenv/loader.ts
  fp/append-to-array.bench.ts
  fp/append-to-object.bench.ts
  fp/deep-copy.bench.ts
  fp/mutate.bench.ts
  fp/wth.bench.ts
  fp/wthout.bench.ts
  metadata.json
  pre-commit.ts
  version.txt
Due: deno-fmt, deno-lint, deno-check, deno-test

fix: some wording.
  README.md
  cool.ts
  metadata.json
  repl-init.ts
  version.txt
Due: deno-fmt, deno-lint, deno-check, deno-test

chore: relocated temp directory.
  .dockerignore
  .gitignore
  .pre-commit-config.yaml
  _etc/temp/.gitkeep
  deno.jsonc
Due: none

feat: [wip] added parsing component with a simple streaming lexer.
  .pre-commit-config.yaml
  README.md
  parsing/README.md
  parsing/checks/is-alphanumeric.ts
  parsing/checks/is-numeric.ts
  parsing/checks/is-whitespace.ts
  parsing/lexer.test.ts
  parsing/lexer.ts
  parsing/mod.ts
  parsing/tokens/definition.ts
  parsing/tokens/extended.ts
  parsing/tokens/simple.ts
Due: deno-fmt, deno-lint, deno-check, deno-test

refactor: README enhancements.
  README.md
  di/README.md
  directives/README.md
  dotenv/README.md
  fp/README.md
  parsing/README.md
  standards/README.md
Due: deno-fmt, deno-lint, deno-check

refactor: README enhancements (take II).
  README.md
Due: deno-fmt, deno-lint, deno-check

refactor: README enhancements (take III).
  README.md
Due: deno-fmt, deno-lint, deno-check

refactor: README enhancements (take IV).
  README.md
Due: deno-fmt, deno-lint, deno-check

refactor: README enhancements (take V).
  README.md
  dotenv/README.md
  fp/README.md
Due: deno-fmt, deno-lint, deno-check

refactor: README enhancements (take VI).
  README.md
  di/README.md
  dotenv/README.md
  fp/README.md
  parsing/README.md
Due: deno-fmt, deno-lint, deno-check

refactor: README enhancements (take VII).
  LICENSE
  directives/01-social.md
Due: deno-fmt, deno-lint, deno-check

refactor: README enhancements (take VIII).
  README.md
  _etc/logo.png
  _etc/logo.svg
  di/README.md
  directives/02-technical.md
Due: deno-fmt, deno-lint, deno-check

refactor: README enhancements (take IX).
  _etc/logo.png
  _etc/logo.svg
Due: none

refactor: README enhancements (take X).
  _etc/logo.png
  _etc/logo.svg
Due: none
